<form action="{% url 'analysis:analysis' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="row">

        <div class="card" style="margin:0 0 30px 0; padding: 0;">
            <div class="card-header" style="background-color: #4C9EBF; padding:5px 0 8px 10px; color:aliceblue;">
                Upload an NTM strain assembly in FASTA format
            </div>
            <div class="card-body" style="background-color: white; padding:27px 27px 5px 30px;">
                <div class="mb-3">
                    {{ form.file }}
                </div>
                <p style="margin-left:5px; font-size: 16px;">Try analysis using example assembly fasta file: <a
                        href="{% url 'download_assembly' strain_accession='GCF_004028015.1' %}">M.abscessus_GCF_004028015.1.fasta</a>,
                    <a
                        href="{% url 'download_assembly' strain_accession='GCF_009741445.1' %}">M.avium_GCF_009741445.1.fasta</a>.
                </p>
                <p style="margin-left:5px; font-size: 16px;"> Or see <a
                        href="{% url 'analysis:results' query_id='496f18ac' %}"> example
                        results</a>.</p>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        {{ form.build_tree }}
                        <label for="id_build_tree">Build Phylogenetic Tree with: </label>
                    </div>
                    <div class="buildTreeRadio">
                        <!-- <label for="id_nubmer_of_nodes_in_tree">closest nodes in tree.</label> -->
                        <label for="id_number_of_nodes_in_tree">
                            <input type="radio" id="id_number_of_nodes_in_tree" name="buildTree"
                                onchange="handleRadioChange()" />
                            Number of closest nodes in tree:
                            {{ form.number_of_nodes_in_tree}}
                        </label>
                    </div>
                    <div class="buildTreeRadio">
                        <!-- <label for="id_species_list"> selected species</label> -->
                        <label for="id_species_list">
                            <input type="radio" id="id_species_list" name="buildTree" onchange="handleRadioChange()" />
                            Multiple species:
                            {{ form.species_list }}
                        </label>
                        </p>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        {{ form.identify_mlst }}
                        <label for="id_identify_mlst">Identify Sequence Type (ST)</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        {{ form.resistance_annotation }}
                        <label for="id_resistance_annotation">Annotate Resistance Genes</label>
                    </div>
                </div>
                <div class="mb-3">
                    <div class="form-check form-switch">
                        {{ form.virulence_annotation }}
                        <label for="id_virulence_annotation">Annotate Virulence Genes</label>
                    </div>
                </div>
            </div>

            <div class="card-footer">
                <button type="submit" class="btn ui blue button ntm-btn2" style="margin-left:15px;" id="submit_analysis"
                    disabled>Submit
                    for
                    analysis</button>
            </div>
        </div>
</form>