<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Non-Tuberculosis-Mycobateria-database</title>
  {% load static %}
  <link rel="shortcut icon" type="image/x-icon" href="{%static '/image/favicon/favicon.ico'%}" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous" />
  <link rel="stylesheet" type="text/css" href="https://ngdc.cncb.ac.cn/css/page.min.css" />
</head>

<body class="bg-light">
  <!-- BIGD header-->
  <nav class="bigd-navbar-default bigd-navbar">
    <div class="bigd-navbar-header">
      <button type="button" class="bigd-navbar-toggle bigd-collapsed">
        <span class="bigd-sr-only">Toggle navigation</span><span class="bigd-icon-bar"></span><span
          class="bigd-icon-bar"></span>
        <span class="bigd-icon-bar"></span>
      </button>
      <a href="https://www.cncb.ac.cn" target="_blank" class="bigd-navbar-brand"><img
          src="https://ngdc.cncb.ac.cn/cdn/image/cncb-nav.png" class="bigd-img-responsive" /></a><a
        href="https://ngdc.cncb.ac.cn/" class="bigd-navbar-brand"><img
          src="https://ngdc.cncb.ac.cn/cdn/image/ngdc-nav.png" class="bigd-img-responsive" /></a>
    </div>
    <div class="bigd-collapse bigd-navbar-collapse" id="bigd-coll">
      <ul class="bigd-nav bigd-navbar-nav bigd-navbar-right">
        <li><a href="https://ngdc.cncb.ac.cn/databases"> Databases</a></li>
        <li><a href="https://ngdc.cncb.ac.cn/tools">Tools</a></li>
        <li><a href="https://ngdc.cncb.ac.cn/standards">Standards</a></li>
        <li>
          <a href="https://ngdc.cncb.ac.cn/publications">Publications</a>
        </li>
        <li><a href="https://ngdc.cncb.ac.cn/about">About</a></li>
      </ul>
    </div>
  </nav>
  <!-- NTM-DB nav bar-->
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <div class="container-fluid">
      <a href="./home.html" class="navbar-brand">NTM-DB</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navmenu">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav">
          <div class="dropdown mx-2">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
              aria-expanded="false">
              Browse
            </button>
            <ul class="dropdown-menu">
              <li>
                <a class="dropdown-item" href="/browse/species">Species</a>
              </li>
              <li>
                <a class="dropdown-item" href="/browse/strains">Strains</a>
              </li>
              <li><a class="dropdown-item" href="/browse/genes_rs">Genes</a></li>
            </ul>
          </div>
          <li class="nav-item"><a class="nav-link" href="\mlst">MLST</a></li>
          <li class="nav-item">
            <a class="nav-link" href="/search/search_main">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/analysis">Analysis</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/download">Download</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/documentation">Documentation</a>
          </li>
        </ul>
      </div>
      <div class="collapse navbar-colleps"></div>
    </div>
  </nav>
  {% block body %} {% endblock body %}

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
    crossorigin="anonymous"></script>
  <!-- BIGD footer-->
  <footer class="bigd-footer" style="font-family: Arial">
    <div class="bigd-panel bigd-panel-default">
      <div class="bigd-panel-body">
        <div class="bigd-row">
          <div class="bigd-col-md-2">
            <a href="https://ngdc.cncb.ac.cn/"><img src="https://ngdc.cncb.ac.cn/static/image/CNCB-NGDC.png"
                class="bigd-img-responsive" style="margin-top: 15px" /></a>
            <ul class="bigd-list-unstyled">
              <li><a href="https://ngdc.cncb.ac.cn/about">About NGDC</a></li>
              <li><a href="https://ngdc.cncb.ac.cn/people">People</a></li>
              <li><a href="https://ngdc.cncb.ac.cn/mission">Mission</a></li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/board">Advisory Board</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/structure">Organizational Structure</a>
              </li>
              <li><a href="https://ngdc.cncb.ac.cn/history">History</a></li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/annual-report">Annual Reports</a>
              </li>
            </ul>
          </div>
          <div class="bigd-col-md-2">
            <h3>Research &amp; Resources</h3>
            <ul class="bigd-list-unstyled">
              <li>
                <a href="https://ngdc.cncb.ac.cn/databases">Databases</a>
              </li>
              <li><a href="https://ngdc.cncb.ac.cn/tools">Tools</a></li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/standards">Standards</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/research">Topics &amp; Projects</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/publications">Publications</a>
              </li>
            </ul>
          </div>
          <div class="bigd-col-md-2">
            <h3>Featured</h3>
            <ul class="bigd-list-unstyled">
              <li>
                <a href="https://ngdc.cncb.ac.cn/ncov/" target="_blank">RCoV19</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/databasecommons" target="_blank">Database Commons</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/gsa" target="_blank" title="Genome Sequence Archive">GSA</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/gwh" target="_blank" title="Genome Warehouse">GWH</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/gvm" target="_blank" title="Genome Variation Map">GVM</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/gen" target="_blank" title="Gene Expression Nebulas">GEN</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/methbank" target="_blank" title="Methylation Bank">MethBank</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/openlb" target="_blank" title="Open Libaray of Bioscience">OpenLB</a>
              </li>
            </ul>
          </div>
          <div class="bigd-col-md-2">
            <h3>Conference &amp; Outreach</h3>
            <ul class="bigd-list-unstyled">
              <li>
                <a href="https://ngdc.cncb.ac.cn/conference">Conferences</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/education">Education</a>
              </li>
              <li><a href="https://ngdc.cncb.ac.cn/training">Training</a></li>
              <li>
                <a href="https://www.sciencedirect.com/journal/genomics-proteomics-and-bioinformatics"
                  target="_blank">GPB</a>
              </li>
            </ul>
          </div>
          <div class="bigd-col-md-2">
            <h3>Alliance &amp; Collaboration</h3>
            <ul class="bigd-list-unstyled">
              <li>
                <a href="https://ngdc.cncb.ac.cn/bhbd-alliance" target="_blank">BHBD</a>
              </li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/p10k/" target="_blank">P10K</a>
              </li>
              <li><a href="https://ngdc.cncb.ac.cn/partners">Partners</a></li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/collaborations">Collaborations</a>
              </li>
              <li><a href="https://ngdc.cncb.ac.cn/funding">Funding</a></li>
              <li>
                <a href="https://ngdc.cncb.ac.cn/contact">Contact Us</a>
              </li>
              <li><a href="https://ngdc.cncb.ac.cn/news/80">Join Us</a></li>
            </ul>
          </div>
        </div>
        <hr class="footer-hr" />
        <div class="bigd-row">
          <div class="bigd-col-md-8">
            <p class="bigd-text-muted">
              © 2023 National Genomics Data Center,
              <span><a href="http://english.big.cas.cn" target="_blank">China National Center for Bioinformation /
                  Beijing
                  Institute of Genomics</a></span>,
              <span><a href="http://english.cas.cn" target="_blank">Chinese Academy of Sciences</a></span><br />No.1
              Beichen West Road, Chaoyang District, Beijing
              100101, China<br />Tel: +86 (10) 8409-7340 | Fax: +86 (10)
              8409-7200 | ngdc(AT)big.ac.cn <br /><span><a href="https://ngdc.cncb.ac.cn/policies">Policies and
                  Disclaimers</a></span>
            </p>
            <p class="bigd-text-muted">
              <span><a rel="license" target="_blank" href="http://creativecommons.org/licenses/by/3.0/cn/"><img
                    alt="Creative Commons License" style="border-width: 0; height: 15px"
                    src="https://ngdc.cncb.ac.cn/static/image/cc.png" /></a></span>
              This work is licensed under a
              <span><a rel="license" href="http://creativecommons.org/licenses/by/3.0/cn/" target="_blank">Creative
                  Commons Attribution 3.0 China Mainland License.</a>
                <br /><a href="https://beian.miit.gov.cn/" target="_blank">京ICP备10050270号</a></span>
            </p>
          </div>
          <div class="bigd-col-md-4">
            <div class="pull-right">
              <ul class="bigd-list-inline">
                <li>
                  <a href="http://english.big.cas.cn" target="_blank"><img
                      src="https://ngdc.cncb.ac.cn/static/image/big_logo.png" style="width: 32px" /></a>
                </li>
                <li>
                  <a href="https://www.picb.ac.cn/picben/#/" target="_blank"><img
                      src="https://ngdc.cncb.ac.cn/static/image/picb.png" style="height: 32px" /></a>
                </li>
                <li>
                  <a href="http://english.ibp.cas.cn/" target="_blank"><img
                      src="https://ngdc.cncb.ac.cn/static/image/ibp.png" style="height: 32px" /></a>
                </li>
                <li>
                  <a href="http://english.cas.cn/" target="_blank"><img
                      src="https://ngdc.cncb.ac.cn/static/image/cas.png" style="height: 32px" /></a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </footer>
</body>

</html>